* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, section h2, section h3, form button {
    font-family: 'Honk', system-ui;
    font-weight: normal;    
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
body {
    background-color: #016FB9;
}

header{
    background-color: #0A1D56;
    font-size: 30px;
    padding: 8px 0;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
    font-size: 25px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section .container {
    align-items: center;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 10px;
    text-align: center;
}

.container h2 {
    color: aqua;
    font-size: 50px;
}

.my-photo {
    max-width: 720px;
    width: 40%;
    margin-right: 20px
}

.social-links img{
    width: 24px;
}

#contact .container {
    display: block;
}

#contact .social {
    margin-right: 20%;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.contact-methods .social {
    margin-right: 480px;
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
}

.social-links li {
    display: inline;
    margin-right: 8px;
    padding-left: 10px;
}

.social-links li a {
    text-decoration: none;
}

#contact {
    margin-left: 100px;
}
section h3 {
    margin-bottom: 16px;
    font-size: 30px;
    text-align: center;
}

form button {
    background-color: #0A1D56;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

footer {
    background-color: #0A1D56;
    color: rgb(255, 255, 255);
    padding: 16px 0;
    text-align: center;
}